.hero__partners {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 55px;
  .text {
    color: #74c69d;
    font-weight: 600;
  }
  .title {
    font-size: 30px;
    font-weight: 600;
  }
  .text1 {
    color: black;
    font-weight: 600;
    padding-top: 15px;
    width: 300px;
  }
}
.img {
  padding-top: 50px;
  padding-bottom: 60px;
}
.btn {
  width: 170px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: auto;
}
.btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.group1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  .heading {
    font-size: 30px;
    font-weight: 600;
    width: 462px;
  }
  p {
    width: 470px;
    padding-top: 15px;
    color: rgb(174, 174, 174);
  }
  .btn1 {
    width: 170px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
  }
}
